
@{
    ViewBag.Title = "aa";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<input id="aa" type="button" value="去掉" />
<div style="FONT-SIZE: 14px; LINE-HEIGHT: 30px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 据媒体报道，广东</a>省雷州市水务局欠工程承包人莫文海360万元水利工程款15年不还。多年催讨无果后，莫一纸诉状将雷州市政府、雷州市水务局告上法庭。湛江市中级人民法院、广东省高级人民法院，先后一审、终审做出判决，雷州市政府、雷州市水务局偿还欠款。但是雷州水务局依旧不执行判决。近日，该市副市长陈汉枢就此案在接受央视采访时说出了“不能盲目相信法院”的话，激起舆论的强力反弹。12月28日下午，雷州市委宣传部主要负责人说：陈汉枢的“不能盲目相信法院”言语有欠妥当，这应该是陈在接受央视采访时，过于紧张导致表达有些误会，陈汉枢的原意是对法院认定的欠款数额有不同意见。
    <p>　　陈副市长的话是否反映了他对法院和法律</a>的蔑视，作为政府官员说出这样的话是否会动摇民众对法治的信奉，上述议题本文都不做讨论。然而，陈副市长的这句话以及雷州市委宣传部的回应，表达出对法院的不信任却是无法否认的。该案是由湛江市中级人民法院和广东省高级人民法院先后做出的一审和终审判决，暂且不说对生效判决应当严格服从、不得以自己认为不对为借口拒绝履行的基本道理，如果作为国家机关的地方政府对其他两级国家机关依法定程序做出的判决都不信任的话，那么这真切反映了一种深刻的信任危机。</p>
    <p>　　陈副市长所代表的雷州市政府之所以不信任别人，以致连两级国家司法机关都不相信，其实是因为他们自己就一贯没有诚信。自己不讲诚信，就必然以己之腹度量别人，认为别人也不能信任。在两级人民法院的判决生效后，该市市政府与水务局不仅分文未付，而且连判决承担的诉讼费都不交纳。2012年10月25日，雷州市政府及雷州市水务局与莫文海达成协议，承诺在2013年3月8日前，还清所有欠款。然而这一有雷州市市长签名的还款协议，仍然成了空文。负责本案执行的茂名市茂港区人民法院法官透露，他们多次向雷州市水务局、雷州市政府发出执行还债判决通知书，但雷州方总以各种理由拒绝执行，双方来往公文前后已经8回了。</p>
    <p>　　欠款十多年分文不还，而且连市长都食言，分明是典型的“老懒”行为，何谈诚信？近年来民众对一些地方政府表现出的不信任，以至于地方政府无论说什么，也不管所说是真是假，人们总是“老不信”。任何现象的出现都是有原因的。雷州市政府欠款十多年分文不还，发生了这种事，自然引起人们对其的不信任。所以，地方政府不能取信于民的根源很多时候在地方政府本身，政府须从自己身上找原因，反思那些不诚信的习惯和做法。如果戒掉那些不诚信的做法，能够不再掩盖事实真相或夸大成绩，做到言行一致、实事求是了，地方政府自然就会树立起诚信的形象。诚信根本来源于自己的作为，而不是产生于别人之口。</p>
    <p>　　与政府的诚信危机相伴随的是当前社会上严重的诚信危机，以至于人们担心被讹诈，连摔倒的老人都不敢搀扶。客观地说，个人的作用是微不足道的，不一定能够对别人产生影响，而政府由于其公共性质，使其关系着每一个人，任何人眼里可以没有明星、楷模，但不能没有政府。所以，政府的举动影响着整个社会，任何人或组织的影响与作用都不能与政府相比。因而，打造诚信的形象，地方政府责无旁贷。也只有在政府能够担当起这种责任的情况下，每个人的努力才会更有意义。</p>
    <p>　　诚信是一种品质反映，其根子在行动（当然也包括说实话）上，而不是简单的说教。推动建立诚信社会最重要的是要求政府自己带头讲诚信，而不只靠发倡导书或进行宣传教育要求别人讲诚信。何况言传本就不如身教，如果政府能事事讲诚信，不做不诚信之事，民众自然就会受到感染，就会不教而化。反之，如果政府自身都没有诚信，则无论对民众如何进行宣传教育，如何要求别人讲诚信，那都是缘木求鱼，适得其反。所以，打造诚信，必自政府开始。</p>
    <p>　　<strong>（作者系山东</a>济南市市中区人民法院审判员）</strong><span><img style="BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; MARGIN: 0px; BORDER-LEFT: medium none" src="http://img.hexun.com/home/hx.gif"></a></span></p>
    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 信息来源：深圳信用网</span></p>
</div>

<script>
    $('#aa').on("click", function () {
        var addd="据媒体报道，<a href='http://news.hexun.com/guangdong/index.html' target='_blank'>广东</a>省雷州市水务局欠";
        addd = addd.replace(/(<\/?a.*?>)/g, '');
        alert(addd)
    })
</script>
