
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/css/am-pagination.css" rel="stylesheet" />
<style>
    .am-pagination-default {
        /*margin-top: -75px;*/
        width: 770px;
        margin: 0 auto;
    }
</style>

<div class="container main-container">
    <div class="row">
        <div class="span8 blog news-list">
            <article class="clearfix">
                @*<a href="./blog-single.htm.html"><img src="~/Content/img/gallery/gallery-img-8-4col.jpg" alt="Post Thumb" class="align-left" /></a>
                    <h4 class="title-bg"><a href="./blog-single.htm.html">一位短跑运动员的孤独</a></h4>
                    <p>
                        一群人乱哄哄地下了车，另一群又匆匆挤上去。叮——叮！曼哈顿的车哐啷哐啷地开走了，约翰·帕金斯混在下车的人群中，随人流挪动着脚步。
                    </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>*@
            </article>
            <!-- Pagination -->
            <div id="ampaginationsm"></div>
        </div>
        @Html.Partial("_PartialPageRight")
    </div>
</div>
<script src="~/Scripts/MyJs.js"></script>
<script src="~/Scripts/am-pagination.js"></script>
<script>
    function lookmore(sign) {
        alert(sign)
    }
    GetNewsList(1, "")
    function GetNewsList(pageIndex, keywowd) {
        $.get("/News/GetNewsByPage", {
            PageIndex: pageIndex,
            pageSize: 5,
            KeyWord: keywowd
        }, function (r) {
            var json = eval("(" + r + ")");
            //debugger;
            if (json.Status == "2") {
                html = "";
                for (var i = 0; i < json.Data.length; i++) {
                    html += "<article class='clearfix'>" +
                        "<a href='./NewsDetaile?sign=" + json.Data[i].eid.toString(16) + "'><img src='/Content/img/gallery/gallery-img-8-4col.jpg' alt='Post Thumb' class='align-left' /></a >" +
                        "<h4 class='title-bg'><a href='./NewsDetaile?sign=" + json.Data[i].eid.toString(16) + "'>" + json.Data[i].etitle + "</a></h4>" +
                        "<p>" + json.Data[i].edigest + "...</p>" +
                        "<a href='./NewsDetaile?sign=" + json.Data[i].eid.toString(16) + "'><button class='btn btn-mini btn-inverse' type='button'>阅读更多</button></a >" +
                        "<div class='post-summary-footer'>" +
                        "<ul class='post-data-3'>" +
                        "<li><i class='icon-calendar'></i>" + DateTranslate(json.Data[i].edate).substr(0, 10) + "</li>" +
                        "<li><i class='icon-user'></i> <a href='#'>" + json.Data[i].eauthor + "</a></li>" +
                        "<li><i class='icon-comment'></i> <a href='#'>" + json.Data[i].esay + "</a></li>" +
                        "<li><i class='icon-eye-open'></i> <a href='#'>" + json.Data[i].elook + "</a></li>" +
                        "<li><i class='icon-tags'></i> <a href='#'>photoshop</a>, <a href='#'>tutorials</a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</article >";
                }
                $(".clearfix").html(html);
                if (pageIndex == 1) {
                    var pagersm = window.amPagination('#ampaginationsm', {
                        page: pageIndex,
                        totals: json.Recc,
                        pageSize: 5,
                        btnSize: ''
                    });
                    jQuery('#ampaginationsm').on('am.pagination.change', function (e) {
                        GetNewsList(e.page, "")
                    });
                }
            }
            else if (json.Status == "1") {
                console.log(1)
            }
            else {
                console.log(2)
            }
        });
    }
</script>