
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>
<div class="container">
    <div class="row header">
        <div class="span5 logo">
            <a href="/Home/Indexa"><img src="~/Content/img/piccolo-logo.png" alt="" /></a>
            <h5>Big Things... Small Packages</h5>
        </div>
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

                <ul class="nav">
                    <li class="active">
                        <a href="/Home/Index">首页</a>
                    </li>
                    <li><a href="./features.htm.html">元素</a></li>
                    <li>
                        <a href="./page-full-width.htm.html">页面</a>
                    </li>
                    <li>
                        <a href="./gallery-4col.htm.html">图片</a>
                    </li>
                    <li>
                        <a href="/News/Index">博客</a>
                    </li>
                    <li><a href="/Home/Contact">联系我们</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End Header -->
</div>