@*@model WeShop.wexin.Models.HomeViewModel*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">

    <div class="row headline">
        <!-- Begin Headline -->
        <!-- Slider Carousel
        ================================================== -->
        <div class="span8">
            <div class="flexslider">
                <ul class="slides">
                    <li><a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/slider-img-3.jpg" alt="slider" /></a></li>
                    <li><a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/slider-img-4.jpg" alt="slider" /></a></li>
                    <li><a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/slider-img-5.jpg" alt="slider" /></a></li>
                    <li><a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
                    <li><a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/slider-img-2.jpg" alt="slider" /></a></li>
                </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span4">
            <h3>
                Welcome to Piccolo. <br />
                A Big Theme in a Small Package.
            </h3>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate
                magna sit amet blandit.
            </p>
            <p>
                Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et
                tortor. In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.
            </p>
            <a href="#"><i class="icon-plus-sign"></i>Read More</a>
        </div>
    </div><!-- End Headline -->

    <div class="row gallery-row">
        <!-- Begin Gallery Row -->

        <div class="span12">
            <h5 class="title-bg">
                Recent Work
                <small>That we are most proud of</small>
                <button class="btn btn-mini btn-inverse hidden-phone" type="button">View Portfolio</button>
            </h5>

            <!-- Gallery Thumbnails
            ================================================== -->

            <div class="row clearfix no-margin">
                <ul class="gallery-post-grid holder">

                    <!-- Gallery Item 1 -->
                    <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-1-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Custom Illustration</a>For
                            an international ad campaign.
                        </span>
                    </li>

                    <!-- Gallery Item 2 -->
                    <li class="span3 gallery-item" data-id="id-2" data-type="illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-2-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-2-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">3 Color Poster Design</a>For
                            a regional festival event.
                        </span>
                    </li>

                    <!-- Gallery Item 3 -->
                    <li class="span3 gallery-item" data-id="id-3" data-type="web">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-3-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="#" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-3-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Ink Pen Illustration</a>Created
                            for a best selling children's book.
                        </span>
                    </li>

                    <!-- Gallery Item 4 -->
                    <li class="span3 gallery-item" data-id="id-4" data-type="video">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-4-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-4-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Custom Illustration</a>For
                            an international add campaign.
                        </span>
                    </li>

                    <!-- Gallery Item 5 -->
                    <li class="span3 gallery-item" data-id="id-5" data-type="web illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-5-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-5-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Icon Design</a>Classic
                            retro style illustration.
                        </span>
                    </li>

                    <!-- Gallery Item 6 -->
                    <li class="span3 gallery-item" data-id="id-6" data-type="illustration design">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-6-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-6-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Animation Cell</a>Creative
                            storyboard illustration
                        </span>
                    </li>

                    <!-- Gallery Item 7 -->
                    <li class="span3 gallery-item" data-id="id-7" data-type="design">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-7-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-7-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Poster Ad Campaign</a>Regional
                            ad for a local company.
                        </span>
                    </li>

                    <!-- Gallery Item 8 -->
                    <li class="span3 gallery-item" data-id="id-8" data-type="web video">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-8-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-8-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Magazine Ad</a>For an
                            international add campaign.
                        </span>
                    </li>

                    <!-- Gallery Item 9 -->
                    <li class="span3 gallery-item" data-id="id-9" data-type="design">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-9-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-9-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Character Designs</a>For
                            a feature film.
                        </span>
                    </li>

                    <!-- Gallery Item 10 -->
                    <li class="span3 gallery-item" data-id="id-10" data-type="web design">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-10-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-10-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Poster and Ad Design</a>For
                            an international add campaign.
                        </span>
                    </li>

                    <!-- Gallery Item 11 -->
                    <li class="span3 gallery-item" data-id="id-11" data-type="illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-11-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-11-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Website and Animation</a>For
                            a local business.
                        </span>
                    </li>

                    <!-- Gallery Item 12 -->
                    <li class="span3 gallery-item" data-id="id-12" data-type="illustration video">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="~/Content/img/gallery/gallery-img-12-full.jpg" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="./gallery-single.htm.html" class="item-details-link"></a>
                            </span>
                        </span>
                        <a href="./gallery-single.htm.html"><img src="~/Content/img/gallery/gallery-img-12-4col.jpg" alt="Gallery" /></a>
                        <span class="project-details">
                            <a href="./gallery-single.htm.html">Branding Design</a>For an
                            international add campaign.
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- End Gallery Row -->

    <div class="row">
        <!-- Begin Bottom Section -->
        <!-- Blog Preview
        ================================================== -->
        <div class="span6">

            <h5 class="title-bg">
                From the Blog
                <small>All the latest news</small>
                <button id="btn-blog-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
                <button id="btn-blog-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
            </h5>

            <div id="blogCarousel" class="carousel slide ">

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <!-- Blog Item 1 -->
                    <div class="active item">
                        <a href="./blog-single.htm.html"><img src="~/Content/img/gallery/blog-med-img-1.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                        <div class="post-info clearfix">
                            <h4><a href="./blog-single.htm.html">A subject that is beautiful in itself</a></h4>
                            <ul class="blog-details-preview">
                                <li><i class="icon-calendar"></i><strong>Posted on:</strong> Sept 4, 2015</li>
                                <li>
                                </li>
                                <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a></li>
                                <li>
                                </li>
                                <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a></li>
                                <li>
                                </li>
                                <li>
                                    <i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>,
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </div>
                        <p class="blog-summary" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                        interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Vestibulum lectus
                        tellus, aliquet et iaculis sed, volutpat vel erat. <a href="#">Read more</a>
                        <p />
                    </div>

                    <!-- Blog Item 2 -->
                    <div class="item">
                        <a href="./blog-single.htm.html"><img src="~/Content/img/gallery/blog-med-img-2.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                        <div class="post-info clearfix">
                            <h4><a href="./blog-single.htm.html">A great artist is always before his time</a></h4>
                            <ul class="blog-details-preview">
                                <li><i class="icon-calendar"></i><strong>Posted on:</strong> Sept 4, 2015</li>
                                <li>
                                </li>
                                <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a></li>
                                <li>
                                </li>
                                <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a></li>
                                <li>
                                </li>
                                <li>
                                    <i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>,
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </div>
                        <p class="blog-summary" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                        interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Vestibulum lectus
                        tellus, aliquet et iaculis sed, volutpat vel erat. <a href="#">Read more</a>
                        <p />
                    </div>

                    <!-- Blog Item 3 -->
                    <div class="item">
                        <a href="./blog-single.htm.html"><img src="~/Content/img/gallery/blog-med-img-3.jpg" alt="" class="align-left blog-thumb-preview" /></a>
                        <div class="post-info clearfix">
                            <h4><a href="./blog-single.htm.html">Is art everything to anybody?</a></h4>
                            <ul class="blog-details-preview">
                                <li><i class="icon-calendar"></i><strong>Posted on:</strong> Sept 4, 2015</li>
                                <li>
                                </li>
                                <li><i class="icon-user"></i><strong>Posted by:</strong> <a href="#" title="Link">Admin</a></li>
                                <li>
                                </li>
                                <li><i class="icon-comment"></i><strong>Comments:</strong> <a href="#" title="Link">12</a></li>
                                <li>
                                </li>
                                <li>
                                    <i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a>,
                                    <a href="#">illustration</a>
                                </li>
                            </ul>
                        </div>
                        <p class="blog-summary" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                        interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Vestibulum lectus
                        tellus, aliquet et iaculis sed, volutpat vel erat. <a href="#">Read more</a>
                        <p />
                    </div>

                </div>
            </div>
        </div>

        <!-- Client Area
        ================================================== -->
        <div class="span6">

            <h5 class="title-bg">
                Recent Clients
                <small>That love us</small>
                <button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
                <button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
            </h5>

            <!-- Client Testimonial Slider-->
            <div id="clientCarousel" class="carousel slide no-margin">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="active item">
                        <p class="quote-text">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum
                            felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies
                            ultrices. Vivamus nec lectus sed orci molestie molestie."<cite>
                                - Client Name, Big
                                Company
                            </cite>
                        </p>
                    </div>

                    <div class="item">
                        <p class="quote-text">
                            "Adipiscing elit. In interdum felis fermentum ipsum molestie sed
                            porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci
                            molestie molestie."<cite>- Another Client Name, Company Name</cite>
                        </p>
                    </div>

                    <div class="item">
                        <p class="quote-text">
                            "Mauris eget tellus sem. Cras sollicitudin sem eu elit aliquam quis
                            condimentum nulla suscipit. Nam sed magna ante. Ut eget suscipit mauris."<cite>
                                - On
                                More Client, The Company
                            </cite>
                        </p>
                    </div>

                </div>
            </div>

            <!-- Client Logo Thumbs-->
            <ul class="client-logos">
                <li><a href="#" class="client-link"><img src="~/Content/img/gallery/client-img-1.png" alt="Client" /></a></li>
                <li><a href="#" class="client-link"><img src="~/Content/img/gallery/client-img-2.png" alt="Client" /></a></li>
                <li><a href="#" class="client-link"><img src="~/Content/img/gallery/client-img-3.png" alt="Client" /></a></li>
                <li><a href="#" class="client-link"><img src="~/Content/img/gallery/client-img-4.png" alt="Client" /></a></li>
                <li><a href="#" class="client-link"><img src="~/Content/img/gallery/client-img-5.png" alt="Client" /></a></li>
            </ul>

        </div>

    </div><!-- End Bottom Section -->

</div> <!-- End Container -->
@*<div class="index_knowledge">
        <img src="/Content/images/icon_0902.png">
        <div class="swiper-container dlist">
            <div class="swiper-wrapper">
                @foreach (var notice in Model.Notices)
                {
                 <a class="swiper-slide" href="@Url.Action("Product_cq","product",new {id=notice.Id})"><i>最新</i>@notice.Title</a>
                }
            </div>
        </div>
    </div>*@

@*@section Style{
        <link href="~/Content/css/index.css" type="text/css" rel="stylesheet">
       <link href="~/Content/css/swiper.min.css" type="text/css" rel="stylesheet">
        }*@
    @section Script{
       <script type="text/javascript">
           $(document).ready(function () {

               $("#btn-blog-next").click(function () {
                   $('#blogCarousel').carousel('next')
               });
               $("#btn-blog-prev").click(function () {
                   $('#blogCarousel').carousel('prev')
               });

               $("#btn-client-next").click(function () {
                   $('#clientCarousel').carousel('next')
               });
               $("#btn-client-prev").click(function () {
                   $('#clientCarousel').carousel('prev')
               });

           });

           $(window).load(function () {

               $('.flexslider').flexslider({
                   animation: "slide",
                   slideshow: true,
                   start: function (slider) {
                       $('body').removeClass('loading');
                   }
               });
           });
       </script>
        }
